<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

    <title>B2CHARM</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form id="filter_form" method="POST">
                    {% csrf_token %}
                    <div class="col-4">
                        <div class="card" style="height: 300px; overflow-y: scroll;width: 200px;">
                            <article class="card-group-item">
                                <header class="card-header">
                                    <h6 class="title">Filter 1 </h6>
                                </header>
                                <div class="filter-content">
                                    <div class="card-body">
                                        <label> Initial particles</label>
                                        <button id="btnini">Clear Selection</button>
                                        {{ form.initial }}
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="height: 300px; overflow-y: scroll;width: 200px;">
                            <article class="card-group-item">
                                <header class="card-header">
                                    <h6 class="title">Filter 2 </h6>
                                </header>
                                <div class="filter-content">
                                    <div class="card-body">
                                        <label>Type of observable</label>
                                        <button id="btnobs">Clear Selection</button>
                                        {{ form.observable }}
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <table cellpadding="0" cellspacing="0" border="0" class="table" id="table1" align="center">
                    <thead>
                        <tr>

                            <th>Latex</th>
                            <th>Value</th>
                            <th>ID</th>



                        </tr>
                    </thead>
                    <tfoot>
                        <tr>

                            <th>Latex</th>
                            <th>Value</th>
                            <th>ID</th>

                        </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            function formsubmit() {
                $("#filter_form").submit(function (e) {
                    return false;
                });
                console.log("form submitted!")
                console.log("getting data")
                var serializedData = $('#filter_form').serialize();
                $.ajax({
                    url: "{% url 'post_form' %}",
                    type: "POST",
                    data: serializedData,
                    success: function (json_response) {
                        console.log(json_response);
                        console.log("success");
                        $('#table1').DataTable({
                            data: JSON.parse(json_response),
                            stateSave: true,
                            responsive: true,
                            bDestroy: true,
                            columns: [
                                { data: 'latex' },
                                { data: 'value' },
                                { data: 'id' },
                            ],

                        });
                    },
                    error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            }
            $('.formbtn').on('change', function (event) {
                formsubmit();
            });

            $('#btnini').on('click', function (event) {
                $('input[name=initial]').prop('checked', false);
                formsubmit();
            });

            $('#btnobs').on('click', function (event) {
                $('input[name=observable]').prop('checked', false);
                formsubmit();
            });
        });


    </script>

</body>

</html>