<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

    <title>B2CHARM</title>
</head>

<body>
    <h3>FILTERS</h3>
    <div class="container-fluid">
        <form id="filter_form" method="POST">
            <div class="row">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group col-4">
                    <label class="col-12">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}

            </div>
            <div class="row">
                <div class="col-2">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        </form>
    </div>
    <br>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <table cellpadding="0" cellspacing="0" border="0" class="table" id="table1" align="center">
                    <thead>
                        <tr>

                            <th>Latex</th>
                            <th>Value</th>
                            <th>ID</th>



                        </tr>
                    </thead>
                    <tfoot>
                        <tr>

                            <th>Latex</th>
                            <th>Value</th>
                            <th>ID</th>

                        </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#filter_form').on('submit', function (event) {
                event.preventDefault();
                console.log("form submitted!")  // sanity check
                console.log("getting data") // sanity check
                var serializedData = $('#filter_form').serialize();
                $.ajax({
                    url: "{% url 'post_form' %}",// the endpoint
                    type: "POST", // http method
                    data: serializedData, // data sent with the post request
                    // handle a successful response
                    success: function (json_response) {
                        console.log(json_response); // log the returned json to the console
                        console.log("success"); // another sanity check
                        $('#table1').DataTable({
                            data: JSON.parse(json_response),
                            stateSave: true,
                            responsive: true,
                            bDestroy: true,
                            columns: [
                                { data: 'latex' },
                                { data: 'value' },
                                { data: 'id' },
                            ],

                        });
                    },
                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {
                        /*$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom */
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            });
        });


    </script>

</body>

</html>