{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'b2charm/css/index_style.css' %}">
    <title>B2CHARM</title>
</head>

<body>

    <main class="cards">
        <form id="filter_form" method="POST">
            {% csrf_token %}
            <article class="card">
                <div class="text">
                    <h6>Initial particles </h6>
                    <i class="fa fa-close" id="btnini" style="font-size:20px"></i>
                    <div class="radio_initial">
                        {% for value , latex in initial %}
                        <input type="radio" name="initial" value="{{ value }}" class="formbtn" id="id_initial_{{ forloop.counter0 }}">
                        <label for="id_initial_{{ forloop.counter0 }}">{{ latex }}</label>
                        {% endfor %}

                    </div>
                </div>
            </article>
            <article class="card">
                <div class="text">
                    <h6>Type of observable</h6>
                    <i class="fa fa-close" id="btnobs" style="font-size:20px"></i>
                    <div class="radio_obs">
                        {% for value , latex in obs %}
                        <input type="radio" name="observable" value="{{ value }}" class="formbtn" id="id_observable_{{ forloop.counter0 }}">
                        <label for="id_observable_{{ forloop.counter0 }}">{{ latex }}</label>
                        {% endfor %}
                    </div>
                </div>
            </article>
            {% for name , prt_list in daughter %}
            <article class="card3">
                <div class="text">
                    <h6>{{ name }}</h6>
                    <div class="box_particle">
                        {% for id, latex in prt_list %}
                        <button id="{{ id }}_bt">{{ latex }}</button>
                        {% endfor %}
                    </div>
                </div>
            </article>
            {% endfor %}
            <article class="card2">
                <div class="text">
                    <h6>Daughter Particle Numbers</h6>

                    <div class="particle_list">
                    {% for prt, latex in num %}
                    <div id="{{ prt }}" style="display: none;">

                        <span class="minus">-</span>
                        <input type="text" name="{{ prt }}" class="daughterinput" value="0" id="id_{{ prt }}">
                        <span class="plus">+</span>
                        <label for="id_{{ prt }}">{{ latex }}</label>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </article>
        </form>
    </main>

    <br>
    <hr>

    <table cellpadding="0" cellspacing="0" border="0" class="table" id="table1" align="center">
        <thead>
            <tr>
                <th>Select for Overview Plot</th>
                <th>Latex</th>
                <th>Value and Error</th>
                <th>Detail</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Select for Overview Plot</th>
                <th>Latex</th>
                <th>Value and Error</th>
                <th>Detail</th>

            </tr>
        </tfoot>
        <tbody>

        </tbody>
    </table>
    <center><button id="checkbox-btn">Generate Overview Plot</button></center><br>
    <hr>
    <div id="plot">

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>

    <script src="{% static 'b2charm/js/index.js' %}"></script>

    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>MathJax = { tex: { inlineMath: [['$', '$']] } };</script>
    <script>
    $('#checkbox-btn').click(function () {
        var rows_selected = table.column(0).checkboxes.selected();
        var selected = '';
        $.each(rows_selected, function(index, rowId){
            selected = selected.concat(rowId);
            selected = selected.concat(',');
         });
         $.ajax({
            url: "/index/post/ajax/plot",
            type: "POST",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}' ,
                "selected": selected,
           },
            success: function (json_response) {
                console.log(json_response);
                var path = JSON.parse(json_response)["filepath"];
                $('#plot').prepend('<img  src='+path+'/>')
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
    </script>

</body>

</html>